<html xmlns:br="http://www.w3.org/1999/html">
<head>
    <title>URLSuper: Cadastro</title>
</head>
<body bgcolor="#b8bdc4">
<div align="center">
    <h1>Cadastro</h1>
    <hr><br>
    <form action = "/usuarios" method = "post" enctype="multipart/form-data">
        Digite seu email: <br>
        <input type="text" name="email" required /><br><br>
        Digite seu nome: <br>
        <input type="text" name="nome" required /><br><br>
        Digite seu nickname: <br>
        <input type="text" name="nickname" required /><br><br>
        Digite sua senha: <br>
        <input type="password" name="senha" required /><br><br>
        <input type = "submit" value="Cadastrar">
    </form>
</div>
</body>
</html>