<html xmlns:br="http://www.w3.org/1999/html">
<head>
    <title>URLSuper: Cadastrar Url</title>
</head>
<body bgcolor="#b8bdc4">
<div align="center">
    <h1>Cadastrar Urll</h1>
    <hr><br>
    <form action = "/urls" method = "post" enctype="multipart/form-data">
        Digite seu nickname: <br>
        <input type="text" name="nickname" required /><br><br>
        Digite sua senha: <br>
        <input type="password" name="senha" required /><br><br>
        Url que deseja cadastrar:
        <input type="url" name="url" required /><br><br>
        <input type = "submit" value="Cadastrar Url">
    </form>
</div>
</body>
</html>