<html>
<head>
    <title>URLSuper: Categorizar</title>
</head>
<body bgcolor="#b8bdc4">
<div align="center">
    <h1>Categorizar</h1>
    <hr><br>
    <form action = "/categorias" method = "post" enctype="multipart/form-data">
        Digite seu nickname: <br>
        <input type="text" name="nickname" required /><br><br>
        Digite sua senha: <br>
        <input type="password" name="senha" required /><br><br>
        Url que deseja categorizar:
        <input type="url" name="url" required /><br><br>
        Nome da categoria:
        <input type="text" name="nome" required /><br><br>
        <input type = "submit" value="Criar Categoria">
    </form>
</div>
</body>
</html>