<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UrlSuper</title>

</head>
<body>
<div align="center">
    <h1>UrlSuper</h1>
    <hr><br>
    <form id="myform" action = "data.html" method = "GET">
        Escolha uma função <br><br>
        <input type="submit" value="Cadastro de Usuários"
            onclick=myform.action="/cadastro"> <br><br>
        <input type="submit" value="Cadastrar Url"
            onclick=myform.action="/cadastrarurl"> <br><br>
        <input type="submit" value="Categorizar"
            onclick=myform.action="/categorizar"> <br><br>
        <input type="submit" value="Criar Qrcode"
            onclick=myform.action="/qrcode"> <br><br>
        <input type="submit" value="Personalizar URL"
            onclick=myform.action="/personalizar"> <br><br>
    </form>
</div>
</body>
</html>