<html>
<head>
    <title>URLSuper: Personalize</title>
</head>
<body bgcolor="#b8bdc4">
<div align="center">
    <h1>Personalização</h1>
    <hr><br>
    <form action = "/check" method = "post" enctype="multipart/form-data">
        Digite seu nickname: <br>
        <input type="text" name="Nickname" required /><br><br>
        Digite sua senha: <br>
        <input type="password" name="Senha" required /><br><br>
        Coloque a URL que você quer personalizar: <br>
        <input type="url" name="url" required /><br><br>
        Escreva a personalização:
        <input type="text" name="Texto" required /><br><br>
        <input type = "submit" value="Personalizar">
    </form>
</div>
</body>
</html>