<html>
<head>
    <title>URLSuper: QRCODE</title>
</head>
<body bgcolor="#b8bdc4">
<div align="center">
    <h1>QR CODE</h1>
    <hr><br>
    <form action = "/success" method = "post" enctype="multipart/form-data">
        Coloque a URL que você quer criar um QR Code: <br>
        <input type="url" name="url" required /><br><br>
        Escolha o tamanho do QR Code:
        <input type="number" name="tamanho" required /><br><br>
        <input type = "submit" value="Upload">
    </form>
</div>
</body>
</html>