<html>
<head>
    <title>URLSuper: Foto</title>
</head>
<body bgcolor="#b8bdc4">
<div align="center">
    <h1>Mude sua Foto</h1>
    <hr><br>
    <form action = "/checksize" method ="post" enctype="multipart/form-data">
        Digite seu nickname: <br>
        <input type="text" name="Nickname" required /><br><br>
        Digite sua senha: <br>
        <input type="password" name="Senha" required /><br><br>
        Insira sua foto (máx 500x500): <br>
        <input type="file" name="foto" required /><br><br>
        <input type ="submit" value="Enviar">
    </form>
</div>
</body>
</html>